{% extends '_base.html' %}
{% load static %}

{% block title %}Welcome {{ request.user.username }}{% endblock title %}

{% block content %}

    <!-- Main Section Start -->
    <div class="main-section">
        {% include '_user_cover_section.html' %}
        
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="user-account-nav user-account-sidebar">
                            {% include '_userSidebar.html' %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h5 class="text-uppercase">Overview</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Total Orders
                                            </div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title">{{ orders.count }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Logged in as <strong>{{ user.email }}</strong>
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="{% url 'core:customer_profile' %}"><h5 class="card-title">Edit Profile</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="element-title has-border right-filters-row">
                                            <h5 class="text-uppercase">Recent Orders</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="user-orders-list">
                                            <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Order #</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for order in orders|slice:":5" %}
                                                    <tr>
                                                        <td><strong><a href="{{ order.get_absolute_url }}">{{ order.order_number }}</a></strong></td>
                                                        <td>{{ order.name }}</td>
                                                        <td>${{ order.total }}</td>
                                                        <td>{{ order.status }}</td>
                                                        <td>{{ order.created_on }}</td>
                                                        <td><a href="{{ order.get_absolute_url }}" class="btn btn-danger">Details</a></td>
                                                    </tr>
                                                  {% endfor %}                                                    
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% endblock content %}