{% extends '_base.html' %}
{% load static %}

{% block title %}Welcome {{ request.user.username }}{% endblock title %}

{% block content %}

    <!-- Main Section Start -->
    <div class="main-section">
        {% include '_user_cover_section.html' %}
        
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="user-account-nav user-account-sidebar">
                            {% include '_userSidebar.html' %}
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h5 class="text-uppercase">Overview</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Total Orders
                                            </div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title">{{ orders.count }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                Logged in as <strong>{{ user.email }}</strong>
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="{% url 'core:customer_profile' %}"><h5 class="card-title">Edit Profile</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="element-title has-border right-filters-row">
                                            <h5 class="text-uppercase">Recent Orders</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="user-orders-list">
                                            {% comment %} <div class="responsive-table">
                                                <ul class="table-generic">
                                                    <li class="order-heading-titles">
                                                        <div>Order id</div>
                                                        <div>Date</div>
                                                        <div>Total Price</div>
                                                        <div>Charges</div>
                                                        <div>Received</div>
                                                        <div>Status</div>
                                                    </li>
                                                    <li class="order-heading-titles">
                                                        <div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22606</a></div>
                                                        <div>Apr 9,2020</div>
                                                        <div>£ 38.99</div>
                                                        <div>£ 3.90</div>
                                                        <div>£ 35.09</div>
                                                        <div><span class="order-status" style="background-color: #047a06;">Completed</span></div>
                                                    </li>
                                                    
                                                    
                                                    
                                                    <li class="order-heading-titles">
                                                        <div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22583</a></div>
                                                        <div>Apr 9,2020</div>
                                                        <div>£ 26.22</div>
                                                        <div>£ 2.62</div>
                                                        <div>£ 23.60</div>
                                                        <div><span class="order-status" style="background-color: #1e73be;">Processing</span></div>
                                                    </li>
                                                    <li class="order-heading-titles">
                                                        <div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22493</a></div>
                                                        <div>Apr 2,2020</div>
                                                        <div>£ 28.24</div>
                                                        <div>£ 2.82</div>
                                                        <div>£ 25.42</div>
                                                        <div><span class="order-status" style="background-color: #047a06;">Completed</span></div>
                                                    </li>
                                                </ul>
                                            </div> {% endcomment %}
                                            <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Order #</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for order in orders|slice:":5" %}
                                                    <tr>
                                                        <td><strong><a href="#">{{ order.order_number }}</a></strong></td>
                                                        <td>{{ order.name }}</td>
                                                        <td>${{ order.total }}</td>
                                                        <td>{{ order.status }}</td>
                                                        <td>{{ order.created_on }}</td>
                                                        <td scope="col"><a href="#" class="btn btn-danger">Details</a></td>
                                                    </tr>
                                                  {% endfor %}                                                    
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% endblock content %}