{% extends '_base.html' %}
{% load static %}

{% block title %}Food Online | Cart{% endblock title %}

{% block content %}

    <div class="main-section pt-5">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li> 
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">
                                        <div id="menu-item-list-6272" class="menu-itam-list">
                                            <form action="{% url 'orders:place_order' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-fields-set">
                                                    <ul>
                                                        <li>
                                                            <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>First Name</label>
                                                                    {{ form.first_name }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Last Name</label>
                                                                    {{ form.last_name }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Email</label>
                                                                    {{ form.email }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Phone No</label>
                                                                    {{ form.phone_no }}
                                                                </div>
                                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <label>Address</label>
                                                                    {{ form.address }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>City</label>
                                                                    {{ form.city }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Pin Code</label>
                                                                    {{ form.pin_code }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>State</label>
                                                                    {{ form.state }}
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Country</label>
                                                                    {{ form.country }}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                                
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">
                                        
                                        <div id="menu-item-list-6272" class="menu-itam-list">
                                            <ul>
                                                {% for cart_item in cart_items %}
                                                    <li id="cart-item-{{ cart_item.id }}">
                                                        <div class="image-holder"> 
                                                            <a href="{{ cart_item.food_item.image.url }}">
                                                                <img src="{{ cart_item.food_item.image.url }}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="text-holder">
                                                            <h6>{{ cart_item.food_item.food_title }}</h6>
                                                            <span>{{ cart_item.food_item.description|truncatewords:10 }}</span>
                                                            <a href="{{ cart_item.food_item.restaurant.get_absolute_url }}" class="badge badge-warning">{{ cart_item.food_item.restaurant }}</a>
                                                        </div>
                                                        <div class="quantity" style="position: absolute; top: 50%; transform: translateY(-50%); display: inline-block; margin-top: -9px">
                                                            <span class="text-danger">{{ cart_item.quantity }} QTY</span>
                                                        </div>
                                                        <div class="price-holder">
                                                            <span class="price">${{ cart_item.food_item.price }}</span>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div>
                                                <ul>
                                                    <li style="list-style-type: none;" class="mb-0">
                                                        Subtotal
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="subtotal">{{ subtotal }}</span>
                                                        </span>
                                                    </li>
                                                    {% for key, value in tax_dict.items %}
                                                        {% for tax_per, tax_amount in value.items %}
                                                            <li style="list-style-type: none;" class="mb-0">
                                                                {{ key }} <strong>({{ tax_per }}%)</strong>
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="tax-{{ key }}">{{ tax_amount }}</span>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    <li style="list-style-type: none; font-weight: 600;" class="mb-0">
                                                        Total
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="total">{{ grand_total }}</span>
                                                        </span>
                                                    </li>
                                                    <!-- Payment Method -->
                                                    <h5 class="mt-2">SELECT PAYMENT METHOD</h5>
                                                    <div class="payment">
                                                        <label>
                                                            <input type="radio" name="payment_method" value="Paypal" />
                                                            <img src="{% static 'images/PayPal.png' %}" alt="PayPal Logo" width="100" />
                                                        </label>
                                                        &emsp;
                                                        <label>
                                                            <input type="radio" name="payment_method" value="Stripe" />
                                                            <img src="{% static 'images/stripe_logo.png' %}" alt="Stripe Logo" width="100" />
                                                        </label>
                                                    </div> 
                                                    <span class="text-danger" id="payment_method_error"></span>
                                                    <button type="submit" onclick="return payMethodConfirm()" class="btn btn-danger p-2 mt-3 mb-3 w-100">PLACE ORDER</button>
                                                </ul>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<script>
    function payMethodConfirm() {
        const payMethod = $("input[name=payment_method]:checked").val();
        if (!payMethod) {
            $("#payment_method_error").html("Select payment method!");
        }
    }

    $("input[name=payment_method]").on("change", function(){
        $("#payment_method_error").html("");
    });
</script>
{% endblock content %}