{% extends '_base.html' %}
{% load static %}
{% block title %}{{ restaurant.restaurant_name|title }} Profile Form{% endblock title %}

{% block content %}

    <!-- Main Section Start -->
    <div class="main-section">
        {% include '_cover_section.html' %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% include '_restaurantSidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h2>Manage Your Restaurant</h2>
                                <!-- My Restaurants Form Start -->
                                <form action="{% url 'core:restaurant_profile' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-fields-set">
                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="restaurant-info">
                                                            <div class="img-holder">
                                                                <ul class="foodbakery-gallery-holder">
                                                                    <li class="gal-img">
                                                                        <div class="drag-list">
                                                                            <div class="item-thumb">
                                                                                <img class="thumbnail" src="{{ user_profile.profile_pic.url }}" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-holder">
                                                                <label>Update Profile Photo</label>
                                                                <div class="upload-gallery">
                                                                    {{ form.profile_pic }}
                                                                </div>
                                                                <label class="text-danger">{{ form.profile_pic.errors }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="restaurant-info">
                                                            <div class="img-holder">
                                                                <ul class="foodbakery-gallery-holder">
                                                                    <li class="gal-img">
                                                                        <div class="drag-list">
                                                                            <div class="item-thumb">
                                                                                <img class="thumbnail" src="{{ user_profile.coverImageUrl }}" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-holder">
                                                                <label>Update Cover Photo</label>
                                                                <div class="upload-gallery">
                                                                    {{ form.cover_photo }}
                                                                </div>
                                                                <label class="text-danger">{{ form.cover_photo.errors }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="restaurant-info">
                                                            <div class="img-holder">
                                                                <ul class="foodbakery-gallery-holder">
                                                                    <li class="gal-img">
                                                                        <div class="drag-list">
                                                                            <div class="item-thumb">
                                                                                <img class="thumbnail" src="{{ restaurant.restaurant_license.url }}" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="text-holder">
                                                                <label>Update License</label>
                                                                <div class="upload-gallery">
                                                                    {{ r_form.restaurant_license }}
                                                                </div>
                                                                <label class="text-danger">{{ r_form.restaurant_license.errors }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Restaurant Name</label>
                                                            {{ r_form.restaurant_name }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Address</label>
                                                            {{ form.address }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Country</label>
                                                            {{ form.country }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>State</label>
                                                            {{ form.state }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>City</label>
                                                            {{ form.city }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Pin Code</label>
                                                            {{ form.pin_code }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Latitude</label>
                                                            {{ form.latitude }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <label>Longitude</label>
                                                            {{ form.longitude }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div>
                                            <div class="field-holder">
                                                <div class="field-holder">
                                                    <input type="submit" value="Update Restaurant" class="btn btn-primary">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- My Restaurants Form End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% endblock content %}