{% extends '_base.html' %}

{% block title %}Food Online | Order Review{% endblock title %}

{% block content %}

    <div class="main-section pt-5">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review Your Billing Address</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">
                                        <div id="menu-item-list-6272" class="menu-itam-list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                                
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">
                                        
                                        <div id="menu-item-list-6272" class="menu-itam-list">
                                            <div>
                                                <ul>
                                                    <li style="list-style-type: none;" class="mb-0">
                                                        Subtotal
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="subtotal">{{ subtotal }}</span>
                                                        </span>
                                                    </li>
                                                    {% for key, value in tax_dict.items %}
                                                        {% for tax_per, tax_amount in value.items %}
                                                            <li style="list-style-type: none;" class="mb-0">
                                                                {{ key }} <strong>({{ tax_per }}%)</strong>
                                                                <span class="price float-right">
                                                                    <span class="currency">$</span>
                                                                    <span id="tax-{{ key }}">{{ tax_amount }}</span>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    <li style="list-style-type: none; font-weight: 600;" class="mb-0">
                                                        Total
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="total">{{ grand_total }}</span>
                                                        </span>
                                                    </li>
                                                    <a href="{% url 'core:checkout' %}" class="btn btn-danger p-2 mt-3 mb-3 w-100">PROCEED TO CHECKOUT</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}