{% extends '_base.html' %}
{% load static %}
{% block title %}{{ restaurant.restaurant_name|title }} | Menu Builder{% endblock title %}

{% block content %}

    <!-- Main Section Start -->
    <div class="main-section">
        {% include '_cover_section.html' %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% include '_restaurantSidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h2 class="text-uppercase">Build your food Menu</h2>
                                <hr>
                                <h6>Menu Categories</h6>
                                {% if category_list %}
                                    <a href="{% url 'menu:add_food_item' %}" class="btn btn-success float-right m-1" style="font-size: 0.8rem;"><i class="fa fa-plus" aria-hidden="true"></i> Add Food</a>
                                    <a href="{% url 'menu:add_category' %}" class="btn btn-info float-right m-1" style="font-size: 0.8rem;"><i class="fa fa-plus" aria-hidden="true"></i> Add Category</a>
                                    <table class="table table-hover table-borderless">
                                        <tbody>
                                        {% for category in category_list %}
                                        <tr>
                                            <th class="text-left">{{ forloop.counter }}</th>
                                            <td class="text-left">
                                                <a href="{% url 'menu:category_detail' category.slug %}"><p class="mb-0 font-weight-bold">{{ category }}</p></a>
                                            </td>
                                            <td><a href="{% url 'menu:edit_category' category.slug %}" style="color:unset;"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp; <a href="{% url 'menu:delete_category' category.slug %}" onclick="return confirm('Are you sure you want to delete this category?')"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h5 class="text-center">No categories found.</h5>
                                    <div class="text-center"><a href="{% url 'menu:add_category' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Category</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->

{% endblock content %}